# Public
public/css/*
public/fonts/*
public/icons/*
public/img/*
public/js/*
public/lib/*

# Cordova
cordova/project-*/*
cordova/*.keystore

# Templates
appConfig.json
cordova/Makefile
cordova/ProjectMakefile
cordova/config.xml
cordova/wp/Package.appxmanifest
cordova/android/res/
cordova/wp/Assets/
cordova/wp/*.png
cordova/wp/*.jpg
cordova/ios/splash/
cordova/ios/icons/
cordova/project/
src/js/appConfig.js

# Logs
logs
*.log

# Dependency directory
node_modules
bower_components
angular-bitpay-public-client/angular-bitpay-public-client.js

# OSX
.DS_Store

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VIM ignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
