# Public
public/icons/*
public/fonts/*
public/css/*
public/lib/*
public/js/*

# Grunt generated
src/js/appConfig.js

# Logs
logs
*.log

# Dependency directory
node_modules
bower_components
angular-bitpay-public-client/angular-bitpay-public-client.js

# OSX
.DS_Store

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VIM ignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
