/*
 *
 * Main CSS
 *
 */

@media (min-width: 1024px) {
  body {
    margin: 0 auto;
    width: 1024px;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url('/img/bg2.svg'), url('/img/bg1.svg');
  background-repeat: no-repeat;
  background-position: right center, left center;
  background-size: cover;
  font-family: Avenir;
}

p {
  margin: 0 0 5px 0;
}

h5 {
  font-weight: bold;
}

textarea {
  resize: none;
}

.m10b {
  margin-bottom: 10px;
}

.m10t {
  margin-top: 10px;
}

.m15t {
  margin-top: 15px;
}

.m20t {
  margin-top: 20px;
}

.m40t {
  margin-top: 40px;
}

.bold {
  font-weight: bold;
}

.centered {
  float: none;
  margin: 0 auto;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#sectionContainer,
#mainSection {
  height: 100%;
}

.main {
  position: relative;
  bottom: 50px;
  top: 50px;
  height: calc(100% - 100px);
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.8);
}

.container-fluid {
  max-width: 1024px;
  height: 100%;
}

.header-logo {
  background-image: url('/img/logo.png');
  background-repeat: no-repeat;
  background-size: 90px;
  width: 90px;
  margin: 0 10px 0 0 !important;
  position: relative;
  top: 10px;
  left: 5px;
}

.footer-button {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.form-group .help-block {
  display: none;
}
 
.form-group.has-error .help-block {
  display: block;
}

.input-group .form-control {
  background-color: rgba(255,255,255,0.5);
}

.currency-button {
  min-width: 70px;
}

.document-button {
  min-width: 75px;
  border-radius: 0;
}

.unselectable {
  cursor: default !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.table > tbody > tr > td {
  padding: 0;
  border-top: none;
}

.table-col-1 {
  width: 100px;
}

.navbar {
  max-width: 1024px;
  margin: 0 auto;
  height: 50px;
}

.navbar-inverse {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
}

.btn-primary,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:visited {
  background-color: #002855;
  border-color: #DDDDDD;
  padding: 5px 14px;
}

.pager {
  padding: 0 15px;
  margin: 0px auto;
  max-width: 1024px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pager > .next > a
.pager > .next > a:active,
.pager > .next > a:focus,
.pager > .next > a:hover,
.pager > .next > a:link,
.pager > .next > a:visited {
  background-color: #002855;
  color: #FFFFFF;
}

.pager > .previous > a,
.pager > .previous > a:active,
.pager > .previous > a:focus,
.pager > .previous > a:hover,
.pager > .previous > a:link,
.pager > .previous > a:visited {
  background-color: #FFFFFF;
  color: #002855;
}

/*
 * Custom radio button
 */

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #FFF;
  background-color: #002855;
}

/*
 * Custom form validation error colors
 */

.has-error .help-block,
.has-error .input-group-addon,
.has-error .control-label,
.has-error .form-control,
.has-error .form-control:focus {
  color: #F2A900;
  border-color: #F2A900;
}

.has-error .btn:focus,
.has-error .btn:active:focus {
  outline: 5px auto #F2A900;
}

.has-error .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #F2A900;
}

.has-error .input-group-addon {
  background-color: #FCEECC;
}

.btn-danger,
.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:hover,
.btn-danger:focus,
.open > .dropdown-toggle.btn-danger,
.open > .dropdown-toggle.btn-danger:active,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger:hover {
  background-color: #F2A900;
  border-color: #F2A900;
}
